* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    display: flex;
}

.binder {
    display: flex;
    flex-direction: column;
}

/* Styles for the folders */
.folder1 {
    z-index: 1;
    position: absolute;
    user-select: none;
}

.folder2 {
    position: absolute;
    z-index: 0;
}

.folder3 {
    z-index: 0;
    position: absolute;
}

.folder4 {
    z-index: 0;
    position: relative;
}

.file {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 1000px;
    height: 500px;
}


.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    user-select: none;
}

/* Styles for landing page */

.landingTitle {
    width: 8ch;
    font-size: 10em;
    font-weight: 1000;
    overflow: hidden;
    letter-spacing: -20px;
}


.landingTitle p {
    width: 100ch;
    font-family: Open Sans;
    font-size: 18px;
    letter-spacing: 3px;
    position: relative;
    bottom: 30px;
    left: 20px;
    text-transform: uppercase;
    animation: typing 1.8s steps(100);

}

@keyframes typing {
    from {
        width: 0ch;
    }
}

/* Styles for About Page */

.file2 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    margin: 0;
}

.file2 h1 {
    font-size: 6em;
    font-weight: 1000;
    letter-spacing: -15px;
    word-spacing: 30px;
    padding: 35px 0 0 10px;
}

.file2 h2 {
    font-size: 1.5em;
    margin: 0 0 0 10px;
    word-spacing: 2px;
}

.file2 p {
    font-size: 1em;
    margin: 0 0 0 10px;
    width: 900px;
    letter-spacing: 1px;
    word-spacing: 1px;
}


/* Styles for projects page */

.file3 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    margin: 0;
    overflow: visible;
}

.file3 h1 {
    font-size: 6em;
    font-weight: 1000;
    letter-spacing: -15px;
    word-spacing: 30px;
    padding: 35px 0 0 10px;;
}

.file3 p {
    margin: 0 0 0 10px;
    width: 600px;
    height: 100px;
    
}
.projectContainer {
    display: flex;
    align-self: center;
    justify-content:space-between;
    align-items: flex-end;
    width: 95%;
    height: 250px;
    overflow: hidden;
}

.card1, .card2, .card3 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    text-transform: none;
    text-align: left;
    transform: translate(0, 210px);
    transition: transform 0.7s ease;
}

.card1:hover{
    transform: translate(0, 92px);
}
.card2:hover{
    transform: translate(0, 107px);
}
.card3:hover{
    transform: translate(0, 32px);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    width: 100%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px 5px 0 0;

}

.content {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7em;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease-in;
    
}

.card1:hover .content {
    opacity: 100%;
}
.card2:hover .content {
    opacity: 100%;
}
.card3:hover .content {
    opacity: 100%;
}

.projectLink {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    color: black;
    text-decoration: underline;
    transition: opacity 2s ease;
    opacity: 0;
}

.card1:hover .projectLink {
    opacity: 100%;
}
.card2:hover .projectLink {
    opacity: 100%;
}
.card3:hover .projectLink {
    opacity: 100%;
}



/* Styles for contact page */

.file4 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    margin: 0;
}

.file4 h1 {
    font-size: 6em;
    font-weight: 1000;
    letter-spacing: -9px;
    word-spacing: 10px;
    padding: 35px 0 0 10px;
}

.file4 p {
    margin: 0 0 0 15px;
}

.file4 textarea {
    resize: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 0 15px;
}

.contact {
    margin: 10px 0 0 0;
}

.file4 input {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: inherit;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 0 0 15px;
}

#name {
    padding: 10px;
    width: 130px;
}

/* Styles for tabs */

.tabs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    bottom: 5px;
}


.tab1 {
    position: relative;    
}

.tab2 {
    position: relative;
    right: 90px;
    
}
.tab3 {
    position: relative;
    right: 180px;
    padding: 0 0 0 5px;
}
.tab4 {
    position: relative;
    width: 200px;
}

/* Styles for the footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
}

.footer a {
    font-size: 0.8em;
    margin: 0 50px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
}