* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    display: flex;
}

.binder {
    display: flex;
    
}

/* Styles for the folders */
.folder1  {
    filter: drop-shadow(0 5px 15px #f2eded27);
    z-index: 3;
    position: absolute;
    user-select: none;
}

.folder2 {
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 5px 15px #f2eded27);
}

.folder3 {
    z-index: 5;
    position: relative;
    filter: drop-shadow(0 5px 15px #f2eded27);
}

.file {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 1500px;
    height: 750px;
    
}


.tab {
    background-color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 175px;
    height: 50px;
    bottom: 5px;
    left: 50px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    user-select: none;
}

/* Styles for landing page */

.landingTitle {
    width: 8ch;
    font-size: 16em;
    font-weight: 1000;
    overflow: hidden;
    letter-spacing: -20px;
}


.landingTitle p {
    width: 100ch;
    font-family: Open Sans;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
    bottom: 60px;
    left: 20px;
    text-transform: uppercase;
    animation: typing 1.8s steps(100);
    
}

@keyframes typing {
    from {width: 0ch;}
}

/* Styles for About Page */

.file2 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    margin: 0;
}

.file2 h1 {
    font-size: 10em;
    font-weight: 1000;
    letter-spacing: -20px;
    word-spacing: 30px;
    padding: 35px 0 0 10px;
}

.file2 h2 {
    font-size: 2em;
    margin: 30px 0 0 10px;
    word-spacing: 2px;
}

.file2 p {
    font-size: 1.5em;
    margin: 0 0 0 10px;
    width: 900px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.tab2 {
    left: 255px;
}

/* Styles for projects page */

.file3 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    margin: 0;
}

.file3 h1 {
    font-size: 10em;
    font-weight: 1000;
    letter-spacing: -20px;
    word-spacing: 30px;
    padding: 35px 0 0 10px;
}

.file3 h2 {
    font-size: 2em;
    margin: 30px 0 0 15px;
    word-spacing: 2px;
}

.file3 p {
    font-size: 1.5em;
    margin: 0 0 0 10px;
    width: 900px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.projects {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    width: 1400px;
    height: 350px;
    margin: 10px 0 0 15px;
    border: 1px solid black;
}



.Magic8Ball {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    transition: all 1s ease;
}

.TicTacToe {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    transition: all 1s ease;
}

.HeadstoneTool {
    width: 400px;
    height: 100px;
    border: 1px solid black;
    transition: all 1s ease;
}


.projectHover:hover {
    height: 350px;
}


.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100px;
    text-align: center;
}

.cardDescription {
    width: 400px;
    height: 250px;
    max-height: 250px;
    /* color: #f2eded00; */
    /* opacity: 0; */
    transition: opacity 1s ease;
    text-align: center;
}

.cardDescription:hover {
    opacity: 100;
    color: black
}

.tab3 {
    left: 460px;
}

/* Styles for the footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid black;
}

.footer a {
    margin: 0 50px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
}